show-all-facets{
  padding-top: calc(20px - var(--facets-padding));
  margin-bottom: 2px;
}
show-all-facets:after{
  content: attr(data-show);
}
.show-all-items show-all-facets:after{
  content: attr(data-hide);
}